<div class="container">
    
    <form action="#" >
        <h3 style="color: black;">log in </h3>
        <div class="inputBox">
            <label for="user"style="color: black;"><b>Username:</b></label>
            <div class="icon">
                <i class="fa-solid fa-user"></i>
            </div>
            <input type="text" formControlName="username" id="user">
            <div >
                <span style="color: rgb(188, 124, 151);"   >Username is required</span>
                <span style="color: rgb(188, 124, 151);"   >Enter only charachters</span>
            </div>
        </div>

      
        <div class="inputBox">
            <label for="email"style="color: black;"><b>Email:</b></label>
            <div class="icon">
                <i class="fa-solid fa-envelope"></i>
            </div>
            <input type="email" formControlName="email" id="email">
            <div>
                <span style="color: rgb(188, 124, 151);"  >email id  is required</span>
                <span style="color: rgb(188, 124, 151);"  >Enter valid email address</span>
            </div>

        </div>

        <div class="inputBox">
            <label for="password"style="color: black;"><b>Password:</b></label>
            <div class="icon">
                <i class="fa-solid fa-lock"></i>
            </div>
            <input type="password" formControlName="password" id="password">
            <div >
                <span style="color: rgb(188, 124, 151);"  >password  is required</span>
                <span style="color: rgb(188, 124, 151);"   >Enter valid password</span>
            </div>
            
       
        <br>
       <button class=".">Submit</button>
       


    
</div>

