<div class="body">
    <!--image card layout start-->
    <div class="container">
        <!--image row start-->
        <div class="row">
            <h2 >Food photography</h2>
          <!--image card start-->
          <div class="image">
            <img src="../../assets/food1.jpg" alt="">
            <div class="details">
              <h2><span></span></h2>
              <p>food photography</p>
              <div class="more">
                <a href="#" class="read-more"><span></span></a>
                <div class="icon-links">
                  <a ><i class="fas fa-heart"></i></a>
                  <a ><i class="fas fa-eye"></i></a>
                  <a ><i class="fas fa-paperclip"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!--image card end-->
          <!--image card start-->
          <div class="image">
            <img src="../../assets/food2.jpg" alt="">
            <div class="details">
              <h2><span></span></h2>
              <p>food photography</p>
              <div class="more">
                <a href="#" class="read-more"><span></span></a>
                <div class="icon-links">
                  <a ><i class="fas fa-heart"></i></a>
                  <a ><i class="fas fa-eye"></i></a>
                  <a ><i class="fas fa-paperclip"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!--image card end-->
          <!--image card start-->
          <div class="image">
            <img src="../../assets/food3.jpg" alt="">
            <div class="details">
              <h2><span></span></h2>
              <p>food photography</p>
              <div class="more">
                <a href="#" class="read-more"><span></span></a>
                <div class="icon-links">
                  <a ><i class="fas fa-heart"></i></a>
                  <a ><i class="fas fa-eye"></i></a>
                  <a ><i class="fas fa-paperclip"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!--image card end-->
        </div>
        <!--image row end-->
        <!--image row start-->
        <div class="row">
          <!--image card start-->
          <div class="image">
            <img src="../../assets/food4.jpg" alt="">
            <div class="details">
              <h2><span></span></h2>
              <p>food photography</p>
              <div class="more">
                <a href="#" class="read-more"><span></span></a>
                <div class="icon-links">
                  <a ><i class="fas fa-heart"></i></a>
                  <a ><i class="fas fa-eye"></i></a>
                  <a ><i class="fas fa-paperclip"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!--image card end-->
          <!--image card start-->
          <div class="image">
            <img src="../../assets/food5.jpg" alt="">
            <div class="details">
              <h2><span></span></h2>
              <p>food photography</p>
              <div class="more">
                <a href="#" class="read-more"><span></span></a>
                <div class="icon-links">
                  <a ><i class="fas fa-heart"></i></a>
                  <a ><i class="fas fa-eye"></i></a>
                  <a ><i class="fas fa-paperclip"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!--image card end-->
          <!--image card start-->
          <div class="image">
            <img src="../../assets/food6.jpg" alt="">
            <div class="details">
              <h2><span></span></h2>
              <p>food photography</p>
              <div class="more">
                <a href="#" class="read-more"><span></span></a>
                <div class="icon-links">
                  <a ><i class="fas fa-heart"></i></a>
                  <a ><i class="fas fa-eye"></i></a>
                  <a ><i class="fas fa-paperclip"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!--image card end-->
        </div>


        <!--NATURE PHOTOGRAPHY-->
        <!--image row end-->
        <div class="row">
            <h2 >Nature photography</h2>
            <hr>
          <!--image card start-->
          <div class="image">
            <img src="../../assets/nature1.jpg" alt="">
            <div class="details">
              <h2><span></span></h2>
              <p>Nature photography</p>
              <div class="more">
                <a href="#" class="read-more"><span></span></a>
                <div class="icon-links">
                  <a ><i class="fas fa-heart"></i></a>
                  <a ><i class="fas fa-eye"></i></a>
                  <a ><i class="fas fa-paperclip"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!--image card end-->
          <!--image card start-->
          <div class="image">
            <img src="../../assets/nature2.jpg" alt="">
            <div class="details">
              <h2><span></span></h2>
              <p>Nature photography</p>
              <div class="more">
                <a href="#" class="read-more"><span></span></a>
                <div class="icon-links">
                  <a ><i class="fas fa-heart"></i></a>
                  <a ><i class="fas fa-eye"></i></a>
                  <a ><i class="fas fa-paperclip"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!--image card end-->
          <!--image card start-->
          <div class="image">
            <img src="../../assets/nature3.jpg" alt="">
            <div class="details">
              <h2><span></span></h2>
              <p>Nature photography</p>
              <div class="more">
                <a href="#" class="read-more"><span></span></a>
                <div class="icon-links">
                  <a ><i class="fas fa-heart"></i></a>
                  <a ><i class="fas fa-eye"></i></a>
                  <a ><i class="fas fa-paperclip"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!--image card end-->
        </div>
        <!--image row end-->
        <!--image row start-->
        <div class="row">
          <!--image card start-->
          <div class="image">
            <img src="../../assets/nature4.jpg" alt="">
            <div class="details">
              <h2><span></span></h2>
              <p>Nature photography</p>
              <div class="more">
                <a href="#" class="read-more"><span></span></a>
                <div class="icon-links">
                  <a ><i class="fas fa-heart"></i></a>
                  <a ><i class="fas fa-eye"></i></a>
                  <a ><i class="fas fa-paperclip"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!--image card end-->
          <!--image card start-->
          <div class="image">
            <img src="../../assets/nature5.jpg" alt="">
            <div class="details">
              <h2><span></span></h2>
              <p>Nature photography</p>
              <div class="more">
                <a href="#" class="read-more"><span></span></a>
                <div class="icon-links">
                  <a ><i class="fas fa-heart"></i></a>
                  <a ><i class="fas fa-eye"></i></a>
                  <a ><i class="fas fa-paperclip"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!--image card end-->
          <!--image card start-->
          <div class="image">
            <img src="../../assets/nature6.jpg" alt="">
            <div class="details">
              <h2><span></span></h2>
              <p>Nature photography</p>
              <div class="more">
                <a href="#" class="read-more"><span></span></a>
                <div class="icon-links">
                  <a ><i class="fas fa-heart"></i></a>
                  <a ><i class="fas fa-eye"></i></a>
                  <a ><i class="fas fa-paperclip"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!--image card end-->
        </div>
        <!--URBAN PHOTOGRAPHY-->
        <!--image row end-->

        <div class="row">
            <h2 >Urban photography</h2>
          <!--image card start-->
          <div class="image">
            <img src="../../assets/urban1.jpg" alt="">
            <div class="details">
              <h2><span></span></h2>
              <p>urban photography</p>
              <div class="more">
                <a href="#" class="read-more"><span></span></a>
                <div class="icon-links">
                  <a ><i class="fas fa-heart"></i></a>
                  <a ><i class="fas fa-eye"></i></a>
                  <a ><i class="fas fa-paperclip"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!--image card end-->
          <!--image card start-->
          <div class="image">
            <img src="../../assets/urban2 .jpg" alt="">
            <div class="details">
              <h2><span></span></h2>
              <p>urban photography</p>
              <div class="more">
                <a href="#" class="read-more"><span></span></a>
                <div class="icon-links">
                  <a ><i class="fas fa-heart"></i></a>
                  <a ><i class="fas fa-eye"></i></a>
                  <a ><i class="fas fa-paperclip"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!--image card end-->
          <!--image card start-->
          <div class="image">
            <img src="../../assets/streps.jpg" alt="">
            <div class="details">
              <h2><span></span></h2>
              <p>urban photography</p>
              <div class="more">
                <a href="#" class="read-more"><span></span></a>
                <div class="icon-links">
                  <a ><i class="fas fa-heart"></i></a>
                  <a ><i class="fas fa-eye"></i></a>
                  <a ><i class="fas fa-paperclip"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!--image card end-->
        </div>
        <!--image row end-->
        <!--image row start-->
        <div class="row">
          <!--image card start-->
          <div class="image">
            <img src="../../assets/urban4.jpg" alt="">
            <div class="details">
              <h2><span></span></h2>
              <p>urban photography</p>
              <div class="more">
                <a href="#" class="read-more"><span></span></a>
                <div class="icon-links">
                  <a ><i class="fas fa-heart"></i></a>
                  <a ><i class="fas fa-eye"></i></a>
                  <a ><i class="fas fa-paperclip"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!--image card end-->
          <!--image card start-->
          <div class="image">
            <img src="../../assets/urban5.jpg" alt="">
            <div class="details">
              <h2><span></span></h2>
              <p>urban photography</p>
              <div class="more">
                <a href="#" class="read-more"><span></span></a>
                <div class="icon-links">
                  <a ><i class="fas fa-heart"></i></a>
                  <a ><i class="fas fa-eye"></i></a>
                  <a ><i class="fas fa-paperclip"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!--image card end-->
          <!--image card start-->
          <div class="image">
            <img src="../../assets/urban6.jpg" alt="">
            <div class="details">
              <h2><span></span></h2>
              <p>urban photography</p>
              <div class="more">
                <a href="#" class="read-more"><span></span></a>
                <div class="icon-links">
                  <a ><i class="fas fa-heart"></i></a>
                  <a ><i class="fas fa-eye"></i></a>
                  <a ><i class="fas fa-paperclip"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!--image card end-->
        </div>
        <!--image row end-->
        <!--CREATIVE PHOTOGRAPHY-->

        <div class="row">
            <h2 >Creative photography</h2>
          <!--image card start-->
          <div class="image">
            <img src="../../assets/creative1.jpg" alt="">
            <div class="details">
              <h2><span></span></h2>
              <p>Creative photography</p>
              <div class="more">
                <a href="#" class="read-more"><span></span></a>
                <div class="icon-links">
                  <a ><i class="fas fa-heart"></i></a>
                  <a ><i class="fas fa-eye"></i></a>
                  <a ><i class="fas fa-paperclip"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!--image card end-->
          <!--image card start-->
          <div class="image">
            <img src="../../assets/creative2.jpg" alt="">
            <div class="details">
              <h2><span></span></h2>
              <p>Creative photography</p>
              <div class="more">
                <a href="#" class="read-more"><span></span></a>
                <div class="icon-links">
                  <a ><i class="fas fa-heart"></i></a>
                  <a ><i class="fas fa-eye"></i></a>
                  <a ><i class="fas fa-paperclip"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!--image card end-->
          <!--image card start-->
          <div class="image">
            <img src="../../assets/creative3.jpg" alt="">
            <div class="details">
              <h2><span></span></h2>
              <p>Creative photography</p>
              <div class="more">
                <a href="#" class="read-more"><span></span></a>
                <div class="icon-links">
                  <a ><i class="fas fa-heart"></i></a>
                  <a ><i class="fas fa-eye"></i></a>
                  <a ><i class="fas fa-paperclip"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!--image card end-->
        </div>
        <!--image row end-->
        <!--image row start-->
        <div class="row">
          <!--image card start-->
          <div class="image">
            <img src="../../assets/creative4.jpg" alt="">
            <div class="details">
              <h2><span></span></h2>
              <p>Creative photography</p>
              <div class="more">
                <a href="#" class="read-more"><span></span></a>
                <div class="icon-links">
                  <a ><i class="fas fa-heart"></i></a>
                  <a ><i class="fas fa-eye"></i></a>
                  <a ><i class="fas fa-paperclip"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!--image card end-->
          <!--image card start-->
          <div class="image">
            <img src="../../assets/creative5.jpg" alt="">
            <div class="details">
              <h2><span></span></h2>
              <p>Creative photography</p>
              <div class="more">
                <a href="#" class="read-more"><span></span></a>
                <div class="icon-links">
                  <a ><i class="fas fa-heart"></i></a>
                  <a ><i class="fas fa-eye"></i></a>
                  <a ><i class="fas fa-paperclip"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!--image card end-->
          <!--image card start-->
          <div class="image">
            <img src="../../assets/creative6.jpg" alt="">
            <div class="details">
              <h2><span></span></h2>
              <p>Creative photography</p>
              <div class="more">
                <a href="#" class="read-more"><span></span></a>
                <div class="icon-links">
                  <a ><i class="fas fa-heart"></i></a>
                  <a ><i class="fas fa-eye"></i></a>
                  <a ><i class="fas fa-paperclip"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!--image card end-->
        </div>
        <!--image row end-->

        <div class="row">
            <h2 >Others photography</h2>
          <!--image card start-->
          <div class="image">
            <img src="../../assets/others1.jpg" alt="">
            <div class="details">
              <h2><span></span></h2>
              <p>other photography</p>
              <div class="more">
                <a href="#" class="read-more"><span></span></a>
                <div class="icon-links">
                  <a ><i class="fas fa-heart"></i></a>
                  <a ><i class="fas fa-eye"></i></a>
                  <a ><i class="fas fa-paperclip"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!--image card end-->
          <!--image card start-->
          <div class="image">
            <img src="../../assets/others2.jpg" alt="">
            <div class="details">
              <h2><span></span></h2>
              <p>other photography</p>
              <div class="more">
                <a href="#" class="read-more"><span></span></a>
                <div class="icon-links">
                  <a ><i class="fas fa-heart"></i></a>
                  <a ><i class="fas fa-eye"></i></a>
                  <a ><i class="fas fa-paperclip"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!--image card end-->
          <!--image card start-->
          <div class="image">
            <img src="../../assets/others3.jpg" alt="">
            <div class="details">
              <h2><span></span></h2>
              <p>other photography</p>
              <div class="more">
                <a href="#" class="read-more"><span></span></a>
                <div class="icon-links">
                  <a ><i class="fas fa-heart"></i></a>
                  <a ><i class="fas fa-eye"></i></a>
                  <a ><i class="fas fa-paperclip"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!--image card end-->
        </div>
        <!--image row end-->
        <!--image row start-->
        <div class="row">
          <!--image card start-->
          <div class="image">
            <img src="../../assets/others4.jpg" alt="">
            <div class="details">
              <h2><span></span></h2>
              <p>other photography</p>
              <div class="more">
                <a href="#" class="read-more"><span></span></a>
                <div class="icon-links">
                  <a ><i class="fas fa-heart"></i></a>
                  <a ><i class="fas fa-eye"></i></a>
                  <a ><i class="fas fa-paperclip"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!--image card end-->
          <!--image card start-->
          <div class="image">
            <img src="../../assets/others5.jpg" alt="">
            <div class="details">
              <h2><span></span></h2>
              <p>other photography</p>
              <div class="more">
                <a href="#" class="read-more"><span></span></a>
                <div class="icon-links">
                  <a ><i class="fas fa-heart"></i></a>
                  <a ><i class="fas fa-eye"></i></a>
                  <a ><i class="fas fa-paperclip"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!--image card end-->
          <!--image card start-->
          <div class="image">
            <img src="../../assets/others6.jpg" alt="">
            <div class="details">
              <h2><span></span></h2>
              <p>other photography</p>
              <div class="more">
                <a href="#" class="read-more"><span></span></a>
                <div class="icon-links">
                  <a ><i class="fas fa-heart"></i></a>
                  <a ><i class="fas fa-eye"></i></a>
                  <a ><i class="fas fa-paperclip"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!--image card end-->
        </div>
        <!--image row end-->

        

      </div>
      <!--image card layout end-->
</div>
