<section class="home">
  <img src="../../assets/bgpic.png">
  <div class="max-width">
    <div class="home-content" contenteditable="true">
      
      <div class="text-1">HI THERE!</div>
    
      <div class="text-2">I'm &nbsp; Aswini</div>
    
      <div class="wrapper" >
        <div class="static-txt">& I'm a</div>
        <ul class="dynamic-txts">
          <li><span>Photographer</span></li><br>
          
        </ul>
        
      </div>
      <br>
      <br>
    <!--button-->
      <section class="homebutton">
        
      <button class="b1" routerLink="gallery">Gallery </button>
        <button class="b2" routerLink="showyours">show yours </button>
        </section>
      

    </div>
  </div>
</section>

